{% extends 'student/base.html' %}
{% include 'student/navbar.html'%}
{% load static %}



{% block content %}



{% if user.is_authenticated %}


<br>

<div class="container-lg">

    <h2>Current Packages createPkg.html</h2>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Package ID</th>
            <th scope="col">Package Name</th>
            <th scope="col">Course Name</th>
            <th scope="col">Group Age</th>
            <th scope="col">Lessons </th>
            <th scope="col">Package Price</th>
            <th scope="col">Active ? </th>

      
          </tr>
        </thead>
        {% for x in packages %}
        <tbody>
          <tr>
            <th scope="row"><a href="/student/editPackages/{{x.packageId}}">{{x.packageId}} </th></a>
            <td>{{x.PakageName}}</td>
            <td>{{x.courseName}}</td>
            <td>{{x.group_age}}</td>
            <td>{{x.numberOfLessons}}</td>
            <td>{{x.packagePrice}}</td>
            {% if x.active == True %}
            <td>Yes</td>
            {% else %}
            <td>No</td>
            {% endif %}
    
            
            
        </tr>
        </tbody>
        {% endfor %}
      </table>

</div>

<br>

{% else %}

<div class="container">
  <h1>Log In to View this Page</h1>
  click <a href="{% url 'login' %}">here</a> to login
</div>

{% endif %}




<div class="container-lg"> 
    
    <h2>Create New Package ? </h2>

    {% if user.is_superuser %}
</div>
<br>
<div class="container-lg">
<button class="btn btn-primary" onclick="myFunction()">New Package</button>
<br>
</div>
<br>

<script>
    function myFunction() {
  var x = document.getElementById("newPKG");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>

<style> 
    #newPKG {
      display: none;
    }
    </style>

<div  id="newPKG" class="container-lg">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <div class="d-grid gap-2 col-2">
             <button class="btn btn-primary btn-lg" type="submit">Save</button>
         </div>
    </form>
</div>
{% else %}

<div class="container">
  <h3>Kindly contact the admin to create new package</h3>
  click <a href="{% url 'login' %}">here</a> to login
</div>

{% endif %}

{% endblock  %}