{% extends 'student/base.html' %}
    {% include 'student/soa_summary.html' %}


{% block content %}



    <div class="container">

      <br>
      <h2>Active Student List - customerinfo_list.html</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Lead Channel</th>
      <th scope="col">Urgent ??? </th>
      <th scope="col">Assign Package</th>
      <th scope="col">Edit Info</th>
      <th scope="col">Statment</th>
      <th scope="col">Payment</th>

    </tr>
  </thead>
  {% for x in object_list %}
  <tbody>
    <tr>
      <th scope="row"><a href="/student/dashBoard/{{x.studentId}}">{{x.studentId}} </th></a>
      <td contenteditable='true' data-id="question-{{x.customerName}}" data-old_value='{{q.question}}' onClick="highlightEdit(this);">{{x.customerName}} </td>
      <td>{{x.leadsChannel}}</td>
      <td>{{x.leadsUrgent}}</td>
      <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:assignPKG' x.studentId %}'">Assign Package</button></td>
      <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:updateView' x.studentId %}'">Edit Info</button></td>
      <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:soa_PK' x.studentId %}'">Account</button></td>
      <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:AddPayment' x.studentId %}'">Add Payment</button></td>
    </tr>
  </tbody>
  {% endfor %}
</table>

{% for x in page_obj %}
    {# Each "contact" is a Contact model object. #}
{% endfor %}

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>

{% endblock %}



</div>
