{% extends 'student/base.html' %}
{% include 'student/soa_summary.html' %}


{% block content %}


    <div class="container">

      <br>
      <h2>Follow Up List</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Lead Channel</th>
      <th scope="col">Urgent ??? </th>
      <th scope="col">Follow Up ? </th>
      <th scope="col"> Contact Date ? </th>
      <th scope="col">Assign Package</th>
      <th scope="col">Edit Info</th>
      <th scope="col">Statment</th>
      <th scope="col">Payment</th>

    </tr>
  </thead>
  {% for x in followList %}
  <tbody>
    <tr>
      <th scope="row"><a href="/student/dashBoard/{{x.studentId}}">{{x.studentId}} </th></a>
      <td>{{x.customerName}} </td>
      <td>{{x.leadsChannel}}</td>

       {% if x.leadsUrgent == True %}
      <td>Yes</td>
        {% else %}
      <td>No</td>
        {% endif %}

        {% if x.followUp == True %}
      <td>Yes</td>
         {% endif %}

      <td>{{x.contactDate}}</td>

      <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:assignPKG' x.studentId %}'">Assign Package</button></td>
      <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:updateView' x.studentId %}'">Edit Info</button></td>
      <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:soa_PK' x.studentId %}'">Account</button></td>
      <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:AddPayment' x.studentId %}'">Add Payment</button></td>
    </tr>
  </tbody>
  {% endfor %}
</table>

{% endblock %}



</div>
