{% extends 'student/base.html' %}

{% load static %}

{% block content %}
<div class="container-lg rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{% static 'student/123.jpeg' %}"><span class="font-weight-bold"><h3>{{data.customerName}}</h3></span>
                <span class="text-black-50">{{data.leadsLocation}}</span><span> </span>
                <span class="text-black-50">{{data.leadeAge}}</span>
                <span class="text-black-50">{{data.Nationality}}</span>
                <span class="text-black-50">{{data.emailAddress}}</span>
                <span class="text-black-50">{{data.intersetList}}</span>
                <br>

            </div>


            
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="text-right">{{data.customerName}}</h1>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Customer Name</label><div class="form-control">{{data.customerName}}</div></div>
                    <div class="col-md-6"><label class="labels">Intrest In ?</label><input type="text" class="form-control" value="{{data.intersetList}}" placeholder="{{data.intersetIn}}"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="" value="{{data.leadsContactNumber}}"> <br></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="" value="{{data.leadsLocation}}"> <br></div> <br>
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value="{{data.emailAddress}}"> <br></div> <br>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="" value="{{data.Nationality}}"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="col-md-12"><label class="labels">First Check In</label><input type="text" class="form-control" placeholder="" value="{{xx.checkInDate}}"></div> <br>
                <div class="col-md-12"><label class="labels">Last Check In</label><input type="text" class="form-control" placeholder="" value="{{aa.checkInDate}}"></div> <br>
                <div class="col-md-12"><label class="labels">Total Classes</label><input type="text" class="form-control" placeholder="" value="{{x1}}"></div> <br>
                <div class="col-md-12"><label class="labels">Total Attendance</label><input type="text" class="form-control" placeholder="" value="{{x2}}"></div><br>
                <div class="col-md-12"><label class="labels">Remaning Classes</label><input type="text" class="form-control" placeholder="" value="{{final}}"></div> 


            </div>
        </div>
    </div>
    {% for x in aPKG%}
    <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:assignPKG' x.studentId %}'">Assign Package</button></td>
    <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:soa_PK' x.studentId %}'">Account</button></td>
    <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:AddPayment' x.studentId %}'">Payments</button></td>
    <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:updateView' x.studentId %}'">Profile Update</button></td>
    <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:StudentAttendance' x.studentId %}'">Attendance</button></td>

    {% endfor %}

    <table class="table table-striped">
        <br>
        <br>
        <thead>
          <tr>
            <th scope="col">Package Name</th>
            <th scope="col">Purchase Date</th>
            <th scope="col">End Date</th>
          </tr>
        </thead>
        <tbody>
            {% for x in packA %}
          <tr>
            <td>{{x.packageName}}</td>
            <td>{{x.startDate}}</td>
            <td>{{x.endDate}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
</div>
</div>
 
{% endblock %}
