{% extends 'student/base.html' %}



{% block content %}


<div class="container-lg">
  <h2>New Lead  - No Packages</h2>
  <table class="table">
<thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Customer Name</th>
    <th scope="col">Lead Channel</th>
    <th scope="col">Urgent</th>
    <th scope="col">Contact Date</th>
    <th scope="col">Contact Number</th>
    <th scope="col">Age</th>
    <th scope="col">Assign PKG</th>
    <th scope="col">Edit Info</th>
    <th scope="col">Comments</th>


  </tr>
</thead>
{% for x in withNoPkg %}
<tbody>
  <tr>
    <th scope="row"><a href="/student/dashBoard/{{x.studentId}}">{{x.studentId}} </th></a>
    <td>{{x.customerName}} </td>
    <td>{{x.leadsChannel}}</td>

     {% if x.leadsUrgent == True %}
    <td>Yes</td>
      {% else %}
    <td>No</td>
      {% endif %}

      
    <td>{{x.contactDate}}</td>
    <td>{{x.leadsContactNumber}}</td>
    <td>{{x.leadeAge}}</td>



    <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:assignPKG' x.studentId %}'">Assign Package</button></td>
    <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:updateView' x.studentId %}'">Edit Info</button></td>
    <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:followUpView' x.studentId %}'">Add Comment</button></td>

  </tr>
</tbody>
{% endfor %}
</table>
</div>

<div class="container-lg">
    <h2>Follow Up List for Free Try  -  freeTry.html</h2>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Lead Channel</th>
      <th scope="col">Urgent</th>
      <th scope="col">Contact Date</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Age</th>
      <th scope="col">Assign PKG</th>
      <th scope="col">Edit Info</th>
      <th scope="col">Comments</th>


    </tr>
  </thead>
  {% for x in freeTryList %}
  <tbody>
    <tr>
      <th scope="row"><a href="/student/dashBoard/{{x.studentId}}">{{x.studentId}} </th></a>
      <td>{{x.customerName}} </td>
      <td>{{x.leadsChannel}}</td>

       {% if x.leadsUrgent == True %}
      <td>Yes</td>
        {% else %}
      <td>No</td>
        {% endif %}

        
      <td>{{x.contactDate}}</td>
      <td>{{x.leadsContactNumber}}</td>
      <td>{{x.leadeAge}}</td>



      <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:assignPKG' x.studentId %}'">Assign Package</button></td>
      <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:updateView' x.studentId %}'">Edit Info</button></td>
      <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:followUpView' x.studentId %}'">Add Comment</button></td>
      

    </tr>
  </tbody>
  {% endfor %}
</table>
</div>



<div class="container-lg">
<div class="col">
  <h1>Free Package Report:</h1>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Transaction Date</th>
      <th scope="col">Total Free Packages </th>
      <th scope="col">Total Paid Packages </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      {% for x in totalPaidPkg %}
      <td>{{x.month|date:"F"}}-{{x.month|date:"Y"}}</td>
      <td> {{x.tFree}}</td>
      <td> {{x.tPaid}}</td>
    </tr>
    {% endfor %}
  </tbody>

  <tfoot>
  </tfoot>
  </table>
</div>
</div>
</div>
</div>

<div>


</div>

<div>
<br>
  <div class="container-lg">
    <div class="col">
      <h1>Free Package Vs Paid Comulative:</h1>
     <table class="table">
      <thead>
        <tr>
          <th scope="col">Transaction Date</th>
          <th scope="col">Total Free Packages </th>
          <th scope="col">Total Paid Packages </th>
        </tr>
      </thead>
    
      <tbody>
        <tr>
          {% for x in totalPaidPkgx %}
          <td>{{x.month|date:"F"}}-{{x.month|date:"Y"}}</td>
          <td> {{x.tFree}}</td>
          <td> {{x.tPaid}}</td>
        </tr>
        {% endfor %}
      </tbody>
    
      <tfoot>
      </tfoot>
      </table>
    </div>

</div>


{% endblock %}