{% extends 'student/base.html' %}



{% block content %}
<ul>
    <li><a href="{% url 'student:CustList' %}">Customer List</a></li>
    <li><a href="{% url 'student:NewReg' %}">New Registration</a></li>
    <li><a href="{% url 'student:CustInfo2'%}">customer List & SQL </a></li>
    <li><a href="{% url 'student:checkIn' %}">Check In</a></li>
    <li><a href="{% url 'student:CheckInByName' %}">Check In by Name</a></li>
    <li><a href="{% url 'student:soa' %}">SOA</a></li>
    <li><a href="{% url 'student:customerFollowUp' %}">Follow Up</a></li>
    <li><a href="{% url 'student:pakcageList' %}">Packages</a></li>

    <br>

    follow up section : 

    <div class="container">

        <br>
        <h2>Active Package List</h2>
        <br>
        <form method="POST">
            {% csrf_token %}
         Age Filter : <input type="string" name="age" id="">
         Course Filter : <input type="string" name="course" id="">

        <input type="submit" value="search">
  
  <table class="table">

    <thead>
      <tr>
        <th scope="col">Package Name</th>
        <th scope="col">Course Name</th>
        <th scope="col">Group Age</th>
        <th scope="col">Total Lessons</th>
        <th scope="col">Package Price</th>
  
      </tr>
    </thead>
    {% for x in age_filter %}
    <tbody>
      <tr>
        <td>{{x.1}} </td>
        <td>{{x.2}}</td>
        <td>{{x.0}}</td>
        <td>{{x.3}}</td>
        <td>{{x.4}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</form>
    <br>


    <h2>Follow Up List</h2>
    {% for x in followUpList %}
    <li> <a  href="/student/dashBoard/{{x.studentId}}">{{x.studentId}}</a> {{x.contactDate}} , {{x.customerName}} , {{x.leadsChannel}} , {{x.leadsContactNumber}} , {{x.intersetList}}, {{x.followUp}} ,{{x.leadeAge}} </li>
    {% endfor %}

    
    <select>
      {% for choices in courseList.details.all %}
        <option> {{ courseList.choice }} </option>
      {% endfor %}
    </select>


{% endblock %}