{% extends 'student/base.html' %}



{% block content %}
    <div class="container">
      
    </div>

    <div class="container">

        <br>
        <h2>Active Package List</h2>
        <br>
        <div class="input-group mb-3">
        <form method="POST">
            {% csrf_token %}
            <label for="basic-url" class="form-label">Age Filter</label>
             <input class="form-control" type="string" name="age" id="">
             <label for="basic-url" class="form-label"> Course Filter :</label>
         <input class="form-control" type="string" name="course" id="">
         <br>

        <input class="btn btn-outline-secondary  form-control" type="submit" value="search">
      </div>
  <table class="table">

    <thead>
      <tr>
        <th scope="col">Package Name</th>
        <th scope="col">Course Name</th>
        <th scope="col">Group Age</th>
        <th scope="col">Total Lessons</th>
        <th scope="col">Package Price</th>
  
      </tr>
    </thead>
    {% for x in age_filter %}
    <tbody>
      <tr>
        <td>{{x.1}} </td>
        <td>{{x.2}}</td>
        <td>{{x.0}}</td>
        <td>{{x.3}}</td>
        <td>{{x.4}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</form>
    <br>


    <h2>Follow Up List</h2>
    {% for x in followUpList %}
    <li> <a  href="/student/dashBoard/{{x.studentId}}">{{x.studentId}}</a> {{x.contactDate}} , {{x.customerName}} , {{x.leadsChannel}} , {{x.leadsContactNumber}} , {{x.intersetList}}, {{x.followUp}} ,{{x.leadeAge}} </li>
    {% endfor %}

  
   

    {% endblock %}

