

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ABC Studio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'student:home' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'student:checkIn' %}">Check In</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'student:CustList' %}">Student List</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add New
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'student:createPKG' %}">New / View Packages</a></li>
              <li><a class="dropdown-item" href="{% url 'student:ageGroup' %}">New Group Age</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'student:NewReg' %}">New Student</a></li>
              <li><a class="dropdown-item" href="{% url 'student:NewSource' %}">New Lead source</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'student:ReportsLinks' %}" tabindex="-1">Reports</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Finance
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'student:soa' %}">Summary Statment</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'student:soa' %}">New Payment</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Other Links
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'student:CustList' %}">Customer List</a></li>
              <li><a class="dropdown-item" href="{% url 'student:NewReg' %}">New Registration</a></li>
              <li><a class="dropdown-item disabled" href="{% url 'student:CustInfo2'%}">customer List & SQL </a></li>
              <li><a class="dropdown-item" href="{% url 'student:checkIn' %}">Check In</a></li>
              <li><a class="dropdown-item disabled" href="{% url 'student:CheckInByName' %}">Check In by Name</a></li>
              <li><a class="dropdown-item disabled" href="{% url 'student:soa' %}">SOA</a></li>
              <li><a class="dropdown-item" href="{% url 'student:customerFollowUp' %}">Follow Up</a></li>
              <li><a class="dropdown-item" href="{% url 'student:pakcageList' %}">Packages</a></li>
              <li><a class="dropdown-item disabled" href="{% url 'student:testAny' %}">testAny</a></li>

            </ul>
          </li>


        </ul>
        <form class="d-flex" method="POST" action="{% url 'student:search' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <form class="d-flex" method="POST" action="{% url 'student:searchID' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="number" placeholder="Search by ID" aria-label="Search" name="searchID" required>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>