
{% extends 'student/base.html' %}
{% include 'student/navbar.html'%}
{% load static %}

{% block content %}

<h3>packageReport.html</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col">
    <h2>Packages Sales Report</h2>
    <br>
    <form method="POST">
        {% csrf_token %}
    From :  <input type="date" name="fromdate" id="start" required>
    <script>
      var today = new Date();
      document.getElementById("start").value = new Date(today.getFullYear(),today.getMonth(),).toISOString().slice(0,10);
    </script>
    To : <input type="date" name="todate" id="end" required>
    <script>
      document.getElementById("end").value = new Date(today.getFullYear(),today.getMonth()+1).toISOString().slice(0,10);
    </script>
 <input type="submit" value="search" name="" id="">
    <br>
    <br>
<table class="table">
<thead>
  <tr>
    <th scope="col">Transaction Date</th>
    <th scope="col">Package Name </th>
    <th scope="col">Total Sales </th>
    <th scope="col">Total Amount </th>
  </tr>
</thead>
{% for x in packageSold2 %}
<tbody>
  <tr>
    <td>{{x.2}} </td>
    <td>{{x.0}}</td>
    <td>{{x.3}}</td>
    <td>AED {{x.4}}</td>
    
  </tr>
</tbody>
{% endfor %}
<tfoot>
  <tr>

      <td></td>
      <td><b><center>Total Sales</center></b> </td>
    <td><b> Total PKG : {{total_PKG.tCount}}</b></td>
    <td><b> AED {{total_PKG.tAmount}}</b></td>
  </tr>
</tfoot>
</table>

</form>
    </div>
    <div class="col">
      <h1>Year To Date Sales</h1>
     <br>
      <br>
      <br>
     <table class="table">
      <thead>
        <tr>
          <th scope="col">Transaction Date</th>
          <th scope="col">Total Packages </th>
          <th scope="col">Total Amount </th>
        </tr>
      </thead>
      {% for x in TotalPkgSaleMonhtly %}
      <tbody>
        <tr>
          <td>{{x.month|date:"F"}}-{{x.month|date:"Y"}}</td>
          <td> {{x.tp}}</td>
          <td>AED {{x.tm}}</td>
          
        </tr>
      </tbody>
      {% endfor %}
      <tfoot>
        <tr>
      
            <td><b><center>Total Sales</center></b> </td>
          <td><b> Total PKG : {{packageSoldTotal.tCount}}</b></td>
          <td><b> AED : {{packageSoldTotal.tm}}</b></td>
        </tr>
      </tfoot>
      </table>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">


</div>



</div>

{% endblock %}