{% extends 'student/base.html' %}
{% include 'student/navbar.html'%}
{% load static %}

{% block content %}

<br>

<h1></h1>

<div class="container">
    {% for x in customerName %}
 <h2>Statment of Account Customer :  <h1>{{x.customerName}}</h1> </h2> 
 <style>
    h4 { color: #ff245b; }
  </style>
 <h4>Total Open Amount : {{openBalance}}</h4>

    <br>
</div>
<div class="container">
<button class="btn btn-lg btn-danger" onclick="location.href='{% url 'student:AddPayment' x.studentId %}'" > Make Payment</a></button>
{% endfor %}
</div>
<br>
<table class="table container">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Transaction Date</th>
        <th scope="col">Detailes </th>
        <th scope="col">Ref </th>
        <th scope="col">credit</th>
        <th scope="col">Debit</th>
      </tr>
    </thead>
    {% for x in queryset %}
    <tbody>
      <tr>
        <th scope="row"><a href="/student/dashBoard/{{x.studentId}}">{{x.studentId}} </th></a>
        <td>{{x.customerName}} </td>
        <td>{{x.transactionDate}}</td>
        <td>{{x.paymenttype}}</td>
        <td>{{x.Payment_Ref}}</td>
        <td>{{x.credit}}</td>
        <td>{{x.debit}}</td>
      </tr>
    </tbody>
    {% endfor %}
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>TOTAL AMOUNT:</b> </td>
          <td><b> AED {{totalCredit.credit}}</b></td>
          <td><b> AED {{totalDebit.debit}}</b></td>
        </tr>
      </tfoot>

  </table>

{% endblock %}