{% extends 'student/base.html' %}
{% include 'student/navbar.html'%}
{% load static %}

{% block content %}

<br>

<h1>soa filter.html</h1>




    <br>
</div>
<div class="container">
<br>
<br>

<form method="POST">
  {% csrf_token %}
from : <input type="date" name="fromdate"> 
to : <input type="date" name="todate">
 <input type="submit" value="search" name="" id="">
</div>
<br>
<table class="table container">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Transaction Date</th>
        <th scope="col">Detailes </th>
        <th scope="col">Ref </th>
        <th scope="col">credit</th>
        <th scope="col">Debit</th>
      </tr>
    </thead>
    {% for x in showresult %}
    <tbody>
      <tr>
        <th scope="row"><a href="/student/dashBoard/{{x.studentId}}">{{x.studentId}} </th></a>
        <td>{{x.customerName}} </td>
        <td>{{x.transactionDate}}</td>
        <td>{{x.paymenttype}}</td>
        <td>{{x.Payment_Ref}}</td>
        <td>{{x.credit}}</td>
        <td>{{x.debit}}</td>
      </tr>
    </tbody>
    {% endfor %}
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>TOTAL AMOUNT:</b> </td>
          <td><b> AED {{totalCredit.credit}}</b></td>
          <td><b> AED {{totalDebit.debit}}</b></td>
        </tr>
      </tfoot>
    </form>
  </table>

{% endblock %}