{% extends 'student/base.html' %}
{% include 'student/navbar.html'%}
{% load static %}

{% block content %}

<br>

<h1></h1>

<div class="container">
    {% for x in customerName %}
 <h2>Statment of Account Customer :  <h1>{{x.customerName}}</h1> </h2> 
 <style>
    h4 { color: #9524ff; }
  </style>
 <h4>Total Ppen Amount : {{openBalance}}</h4>
    {% endfor %}
    <br>
</div>
<table class="table container">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Last Payment</th>
        <th scope="col">Detailes </th>
        <th scope="col">Ref </th>
        <th scope="col">Credit</th>
        <th scope="col">Debit</th>
        <th scope="col">Open Amount</th>
      </tr>
    </thead>
    {% for x in queryset %}
    <tbody>
      <tr>
        <th scope="row"><a href="/student/dashBoard/{{x.studentId}}">{{x.studentId}} </th></a>
        <td>{{x.customerName}} </td>
        <td>{{x.lastTrx}}</td>
        <td><button class="btn btn-secondary btn-sm" type="submit" onclick="location.href='{% url 'student:soa_PK' x.studentId %}'">Account</button></td>
        <td>{{x.Payment_Ref}}</td>
        <td>{{x.credit}}</td>
        <td>{{x.debit}}</td>
        <td>{{x.openBalance}}</td>
      </tr>
    </tbody>
    {% endfor %}
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>TOTAL AMOUNT:</b> </td>
          <td><b> AED {{TotalCredit.credits}}</b></td>
          <td><b> AED {{Totaldebit.debits}}</b></td>
          <td><b> AED </b></td>

        </tr>
      </tfoot>

  </table>

{% endblock %}